#dropdown div {
  padding: 8px;
  cursor: pointer;
  color: black;
}
#dropdown div:hover {
  background-color: #f0f0f0;
}
#dropdown {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#searchresults {
  flex-direction: column;
  color: white;
  margin: auto;
  max-width: 100%;
}

.album_div {
  max-width: 300px;
  margin: auto;
}
