@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap");

body {
  background-color: black;
}

.bakgrundsbild {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
