.Hellsingland_logo {
  display: flex;
  justify-content: center;
}

.background_img {
  background-image: url(Hellsingland_underground.avif);
  background-color: white;
  height: 100%;
  width: 100%;
}
